body {
  margin: 0px;
  font-family: Helvetica;
  font-size: 22px;
  color: SeaShell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

a {
  color: SeaShell;
}

h2, h4 {
  margin: 0;
  padding: 11px;
}

header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid SeaShell;
  background-color: black;
  z-index: 1;
  width: 100%;
  height: 69px;
}

header img {
  height: 50px;
  padding-left: 10px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
  text-decoration: underline;
}

.content {
  padding-top: 70px;
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: auto;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  width: 1200px;
}

#mission {
  background-image: url("../img/img-mission-background.jpg");
  height: 700px;
}

#featured-tea {
  justify-content: flex-end;
  width: 1000px;
  margin: 70px auto;
}

#locations {
  background-image: url("../img/img-locations-background.jpg");
  height: 500px;
}

.title {
  background-color: black;
}

.selection {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.selection div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 300px;
}

.selection img {
  height: 200px;
  width: 300px;
}

.selection .top-middle {
  margin: 0 44px;
}

.selection .bottom {
  margin: 0 25px;
}

.selection .item img {
  margin-bottom: 10px;
}

#featured-tea .selection .item {
  padding: 20px 0;
}

#locations .title h2 {
  padding: 0;
}

#locations .title {
  background-color: inherit;
}

#locations .selection .item {
  background-color: black;
  opacity: 1;
  margin: 15px 20px 0 20px;
}

#locations .selection .item span {
  height: 59px;
}

.contact {
  height: 200px;
}

.copy {
  text-align: left;
  margin-left: 20px;
}
